body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.peter{
    color: crimson;
}
.midu{
    display: flex;
}
.arif{
    width: 50%;
    text-align: justify;
    padding: 15px;
}
.arif img{
    width: 80%;
}
.robi{
    text-decoration: none;
    background-image:linear-gradient(hotpink,purple);
    border-radius: 5px;
    padding:9px;
}
.vabna{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.konika{
    width: 50%;
}
.konika img{
    width:90%;
}
.rafiun{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.israt{
    margin:90px 0px;

}
.raku{
    display: flex;
    text-align: justify;
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
    height: 90%;
    width:95% ;


}
.monu{
    width:50% ;
    padding: 30px;
    box-shadow: 10px 10px 40px  gray;
    margin:25px;
    

}
.chi{
    margin: 30px;
    border-radius:40px ;
    border-left: 8px solid lightseagreen;
    
}
.piku{
margin: 30px;
border-radius: 40px;
border-left: 8px solid lightseagreen;
}

.sai{
    color:crimson;
}
.hh{
    color:rgb(96, 88, 141)
}
footer p{
    text-align: center;
}